@media screen and (max-width: 1180px) {
  .radford.testimonials-1-0-2 .our-client .testimonial-container {
    padding: 0 50px;
  }
  .radford.testimonials-1-0-2 .our-client .pull-title {
    margin-left: 0 !important;
  }
  .radford .pull-title {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1440px) {
  .radford.testimonials-1-0-2 .our-client .testimonial-container {
    width: 100%;
    max-width: 1330px;
    padding: 0 100px;
  }
}

@media screen and (max-width: 1280px) {
  .radford.testimonials-1-0-2 .our-client h2 {
    font-size: 50px;
  }
  .radford h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 1345px) {
  .brokerage-container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 991px) and (max-width: 1345px) {
  .brokerage-container {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 597px) and (max-width: 991px) {
  .brokerage-container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 597px) {
  .brokerage-container {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .list-group {
    margin-bottom: 30px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .carousel-item {
    height: 50vh;
  }
  .carousel-heading {
    font-size: 3rem !important;
  }
  .carousel-p {
    font-size: 1rem !important;
  }
  .carousel-caption {
    top: 65%;
  }
}

@media screen and (max-width: 991px) {
  .carousel-item {
    height: 32vh;
  }
  .carousel-heading {
    font-size: 1.5rem !important;
  }
  .carousel-p {
    font-size: 1rem !important;
  }
  #navbarCollapse {
    padding: 25px;
  }
  .radford h5 {
      font-size: 30px;
  }
}

@media screen and (min-width: 991px) {
  .nav-item {
    margin: 0 23px;
  }
  .navbar-nav {
    margin-left: 17%;
  }
}

@media screen and (min-width: 768px) {
  .navbar-toggler {
    margin-left: 48%;
  }
}

@media screen and (max-width: 768px) {
  .footer-block {
    width: 100% !important;
    margin: 1% auto !important;
  }
}

@media screen and (max-width: 568px) {
  .links-grid-radford.radford ul .grid-35,
  .links-grid-radford.radford ul .grid-65,
  .links-grid-radford.radford ul .grid-55,
  .links-grid-radford.radford ul .grid-45,
  .links-grid-radford.radford ul .grid-33,
  .links-grid-radford.radford ul .grid-67,
  .links-grid-radford.radford ul .grid-100,
  .links-grid-radford.radford ul .grid-40,
  .links-grid-radford.radford ul .grid-60 {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .links-grid-radford.radford ul .grid-40,
  .links-grid-radford.radford ul .grid-60 {
    width: 100%;
  }
}
